.content-section {
     align-items: left;
     width:100%;
     background-color: #000;
     height:calc(100vh - 30vh);
     color:#fff;
}

.highlight-font {
     color: #62CF78;
}

.content-section h6 {
     font-size: 1.2em;
     font-weight: 500;
     color: #62CF78;
     font-weight: bolder;
}