.content-section {
     align-items: left;
     width:100%;
     background-color: #000;
     min-height:calc(100vh - 30vh);
     color:#fff;
}

.highlight-font {
     color: #62CF78;
}

.content-section h6 {
     font-size: 1em;
     font-weight: 500;
     color: #62CF78;
     font-weight: bolder;
}

/* Start Projects Section */
.content-section .icon-box {
     text-align: center;
     background: rgba(204, 204, 204, 0.1);
     padding: 75px 25px;
     transition: all ease-in-out 0.3s;
}

.content-section .icon-box .icon {
     margin: 0 auto;
     width: 64px;
     height: 64px;
     background: #62CF78;
     border-radius: 5px;
     transition: all 0.3s ease-out 0s;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
     transform-style: preserve-3d;
}

.content-section .icon-box .icon i {
     color: #fff;
     font-size: 30px;
}

.content-section .icon-box .icon::before {
     position: absolute;
     content: "";
     left: -8px;
     top: -8px;
     height: 100%;
     width: 100%;
     background: rgba(255, 255, 255, 0.15);
     border-radius: 5px;
     transition: all 0.3s ease-out 0s;
     transform: translateZ(-1px);
}

.content-section .icon-box .row .col a i.bx {
     color: #fff;
     font-size: 28px;
}

.content-section .icon-box h4 {
     font-weight: 700;
     margin-bottom: 15px;
     font-size: 24px;
}

.content-section .icon-box h4 a {
     color: #fff;
}

.content-section .icon-box p {
     line-height: 24px;
     font-size: 14px;
     margin-bottom: 0;
}

.content-section .icon-box a {
     color: #fff;
}

.content-section .icon-box:hover {
     background: #62CF78;
     border-color: #62CF78;
}

.content-section .icon-box:hover .icon {
     background: #fff;
}

.content-section .icon-box:hover .icon i {
     color: #62CF78;
}

.content-section .icon-box:hover .icon::before {
     background: #35e888;
}

.content-section .icon-box:hover h4 a,
.content-section .icon-box:hover p {
     color: #fff;
}
/* End Projects Section */

/* Start Experience Section */
.content-section .resume-title {
     font-size: 26px;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 20px;
     color: #fff;
}

.content-section .resume-item {
     padding: 0 0 20px 20px;
     margin-top: -2px;
     border-left: 2px solid rgba(255, 255, 255, 0.2);
     position: relative;
}

.content-section .resume-item h5 {
     line-height: 18px;
     font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;
     font-family: "Poppins", sans-serif;
     color: #62CF78;
     margin-bottom: 10px;
}

.content-section .resume-item h6 {
     font-size: 16px;
     background: rgba(255, 255, 255, 0.15);
     padding: 5px 15px;
     display: inline-block;
     font-weight: 600;
     margin-bottom: 10px;
}

.content-section .resume-item ul {
     padding-left: 20px;
}

.content-section .resume-item ul li {
     padding-bottom: 10px;
}

.content-section .resume-item:last-child {
     padding-bottom: 0;
}

.content-section .resume-item::before {
     content: "";
     position: absolute;
     width: 16px;
     height: 16px;
     border-radius: 50px;
     left: -9px;
     top: 0;
     background: #62CF78;
     border: 2px solid #62CF78;
}

/* End Experience Section */

/* Start Contact Section */
.content-section .btn.btn-primary {
     background-color: #62CF78;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     border-color: #62CF78;
}

.content-section .btn.btn-primary:hover {
     background-color: #35e888;
     color: #fff;
}

.content-section .frm{
     padding: 20px;
     align-items: left;
     color: #fff;
     width: 100%;
     background: rgba(255, 255, 255, 0.08);
     margin-top: 25px;
}

.content-section .lbl {
     text-align: left;
     align-items: center;
}

.content-section .info-box {
     color: #444444;
     padding: 20px;
     width: 100%;
     background: rgba(255, 255, 255, 0.08);
}

.content-section .info-box i.bx {
     font-size: 24px;
     color: #62CF78;
     border-radius: 50%;
     padding: 14px;
     float: left;
     background: rgba(255, 255, 255, 0.1);
}

.content-section .info-box h3 {
     font-size: 20px;
     color: rgba(255, 255, 255, 0.5);
     font-weight: 700;
     margin: 10px 0 8px 68px;
}

.contact .info-box .contact {
     margin: 5px 0 0 68px;
     display:flex;
}

.contact .info-box .contact a {
     font-size: 18px;
     display: inline-block;
     color: #fff;
     line-height: 1;
     margin-right: 12px;
     transition: 0.3s;
}

.contact .info-box .contact a:hover {
     background-color: #62CF78;
     color:#000;
}

.contact {
     margin-top: 40px;
     display: flex;
}

.contact a {
     font-size: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(255, 255, 255, 0.1);
     color: #fff;
     line-height: 1;
     margin-right: 8px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
}

.contact a:hover {
     background: #62CF78;
     color: #000;
}

.contact {
     margin-top: 15px;
}
/*End Contact Section */

