.container-position {
     align-items: left;
     text-align: left;
     margin:0px;
     width:100%;
}

h1 {
     font-size: 2em;
     font-weight: bolder;
}

.homesection {
    display: flex;
     align-items: left;
     width:100%;
     background-color: #000;
}