.container-position {
     align-items: left;
     text-align: left;
     margin:0px;
     width:100%;
     height:20vh;
}

.container-position h1 {
     font-size: 2em;
     font-weight: bold;
     padding-top: 40px;
     padding-bottom: 10px;
}

.homesection {
    display: flex;
     align-items: left;
     width:100%;
     background-color: #000;
}